{% extends '::base.html.twig' %}

{% block title %}Совместные покупки{% endblock %}

{% block body %}
        <div class="jumbotron masthead">
  <div class="container">
    <h1>Владпокупки</h1>
    <p>Дипломный проект студента гр. ИСТ-108 Батищева Дмитрия</p>
    <p>
      <a href="/registration" class="btn btn-primary btn-large" >Зарегестрируйся сейчас</a>
    </p>
  </div>
</div>
    <div class="container">
        <div class="marketing">
            <h1>Совместные покупки</h1>
            <p class="marketing-byline">Начните пользоваться прямо сейчас</p>
            <div class="row-fluid">
                <div class="span4">
                    <h2>Что такое СП</h2>
                    <p>Вы — новичок в совместных покупках? Узнайте больше о том, как работают Владпокупки и почему это так выгодно!</p>
                </div>
                <div class="span4">
                    <h2>Покупателям</h2>
                    <p>Мы постарались учесть все особенности процесса совместных покупок и сделали его простым и удобным.</p>
                </div>
                <div class="span4">
                    <h2>Организаторам</h2>
                    <p>Присоединяйтесь и пользуйтесь готовыми инструментами для грамотной организации совместных покупок.</p>
                </div>
            </div>
            <hr class="soften">
            <h1>Лучшие предложения</h1>
            <p class="marketing-byline">Сравните цены на сайте и в магазинах города Владимира</p>
            <div class="row-fluid">
              <ul class="thumbnails example-sites">
                <li class="span3">
                  <a class="thumbnail" href="http://soundready.fm/" target="_blank">
                    <img src="http://twitter.github.com/bootstrap/assets/img/example-sites/soundready.png" alt="SoundReady.fm">
                  </a>
                </li>
                <li class="span3">
                  <a class="thumbnail" href="http://kippt.com/" target="_blank">
                    <img src="http://twitter.github.com/bootstrap/assets/img/example-sites/kippt.png" alt="Kippt">
                  </a>
                </li>
                <li class="span3">
                  <a class="thumbnail" href="http://www.gathercontent.com/" target="_blank">
                    <img src="http://twitter.github.com/bootstrap/assets/img/example-sites/gathercontent.png" alt="Gather Content">
                  </a>
                </li>
                <li class="span3">
                  <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
                    <img src="http://twitter.github.com/bootstrap/assets/img/example-sites/jshint.png" alt="JS Hint">
                  </a>
                </li>
            </ul>
           </div>
        </div>
    </div>
{% endblock %}